<div class="papaOptionsDiv">
    <div class="centeredBox adminLoginDiv">
        <p>Admin Login</p>
        <form action="/admin/login" method="POST">
        <input type="password" name="password" id="password" placeholder="Admin Password" class="passwordInput">
        <button class="btn btn-success loginBtn" type="submit">Login</button>
        </form>
    </div>
</div>
