<div class="papaOptionsDiv">
    <div class="optionsDiv centeredBox">
        <p>Choose one of the following:</p>
        <a href="/track/search-order" class="btn btn-primary optionsBtn">Track Order</a>
        {{!-- <hr class="optionsHr"> --}}
        <a href="/admin/login" class="btn btn-danger optionsBtn">Adminstrator Login</a>
    </div>
</div>
