<!DOCTYPE html>
<html>
  <head>
    <title>SHUTTER BROS TRACKING</title>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a class="backLink"href="https://www.shutterbrothersllc.com/"><img src="/images/back-button.png" alt="back-button" class="backButtonImg"></a>
    <div class="logoDiv">
      <img class="hurricaneImg" src="/images/hurricane.webp" alt="hurricane-logo">
      <img class="sbLogoImg" src="/images/sb_logo.webp" alt="shutter-bros-logo">
    </div>
    <h1 class="trackingTag">Tracking System</h1>
    {{{body}}}
  </body>
</html>
