<div class="papaOptionsDiv">
    <div class="centeredBox adminLoginDiv">
        <p>Find Order</p>
        <form action="/track/order-lookup" method="GET">
        <input type="text" name="orderNum" id="orderNum" placeholder="Order Number" class="passwordInput">
        <button class="btn btn-success loginBtn" type="submit">Track Order</button>
        </form>
    </div>
</div>
