body {
  padding-top: 30px;
  font: 19px Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackingTag {
  text-align: center;
  font-size: 35px;
  margin-top: 60px;
  font-weight: bold;
}

.papaOptionsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.centeredBox {
  width: 300px;
  height: 300px;
  border: rgb(167, 167, 167);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.optionsDiv {
  justify-content: space-evenly;
  align-items: center;
}

.optionsBtn {
  width: 70%;
  margin: 0
}

.optionsDiv p {
  text-align: center;
  margin: 0;
}

.adminLoginDiv {
  justify-content: center;
  align-items: center;
  width: 300px;
}

.adminLoginDiv p {
  font-weight: 900;
}

.loginBtn {
  width: 90%;
  margin-top: 16px;
}

.passwordInput {
  width: 90%;
  height: 38px;
  padding-left: 5px;
}

.centeredBox form {
  text-align: center;
}

.editOrderDiv {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.editOrderDiv div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.editOrderDiv select {
  width: 220px
}

.papaEditOrderDiv {
  display: flex;
  justify-content: center;
}

.orderViewDiv {
  border: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color:  rgb(167, 167, 167);
  margin: 20px;
  width: 600px;
  padding: 15px;
}

.papaOrderViewDiv {
  display: flex;
  justify-content: center;
}

.trackedTag {
  text-align: center;
}

/* mobile L and smaller specific styling */
@media screen and (max-width : 425px)
{
  .backButtonImg
  {
    width: 10vw;
  }

  .logoDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sbLogoImg {
    width: 60vw;
  }

  .hurricaneImg {
    width: 12vw;
  }

  .trackingTag {
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
  }

  .orderViewDiv {
    width: 90vw;
  }

}

